.grid {
  display: grid;
  grid-gap: 7rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 25%));
  justify-content: center;
  margin-top: 3%;
  align-items: center;
}

.category {
  display: flex;
  gap: 1vw;
  align-items: first baseline;
  justify-content: center;
  padding-top: clamp(2rem + 1vw, 1vw, 2rem);
}

.description {
  font-size: clamp(1rem, 2vw, 3rem);
}
