.cart {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border: var(--border-color) solid 2px;
  padding: 1vw;
  padding-bottom: 0.5rem;
  padding-top: 0;
  right: 25.75vw;
  top: 3.5vw;
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cart ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60vw;
  overflow-y: scroll;
}

.cart ul li {
  list-style-type: none;
  display: grid;
  row-gap: 2vw;
  grid-template-columns: repeat(3, minmax(6rem, 50%));
  align-items: flex-end;
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 95%;
  justify-items: center;
}

.total {
  font-family: "Quatl";
  color: var(--attention-color);
  font-size: clamp(1.25rem, 2vw, 1.5vw);
  margin-top: 2rem;
  margin-bottom: 1.25vw;
}

/* medium devices*/
@media (max-width: 1700px) {
  .cart {
    right: 26.5vw;
  }
}
/* medium devices*/
@media (max-width: 1575px) {
  .cart {
    right: 27vw;
  }
}

@media (max-width: 1535px) {
  .cart {
    right: 28vw;
  }
}
@media (max-width: 1490px) {
  .cart {
    right: 29vw;
  }
}
@media (max-width: 1460px) {
  .cart {
    right: 30vw;
  }
}

@media (max-width: 1400px) {
  .cart {
    right: 65%;
    top: 6.15vw;
  }
}

@media (max-width: 1280px) {
  .cart {
    right: 67%;
  }
}
@media (max-width: 1200px) {
  .cart {
    right: 69%;
  }
}
/* small devices */

@media (max-width: 1160px) {
  .cart {
    right: 50%;
  }
}
@media (max-width: 1090px) {
  .cart {
    width: 97vw;
    left: clamp(6vw, 5%, 34rem);
    transform: translateX(-92%);
    top: 6vw;
  }
}

@media (max-width: 1020px) {
  .cart {
    width: 97vw;
    left: clamp(6vw, 5%, 34rem);
    transform: translateX(-92%);
    top: 6vw;
  }
}

@media (max-width: 800px) {
  .cart {
    top: 8vw;
    left: clamp(5vw, 10%, 32rem);
  }
}
