.cart {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border: var(--border-color) solid 2px;
  padding: 1vw;
  padding-bottom: 0.5rem;
  right: 0rem;
  right: clamp(10vw, 79.5%, 34rem);
  top: 3.54vw;
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cart ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart ul li {
  list-style-type: none;
  display: grid;
  row-gap: 2vw;
  grid-template-columns: repeat(3, minmax(6rem, 50%));
  align-items: center;
  margin: 1vw;
  /* margin-left: 1vw; */
  width: 95%;
  justify-items: center;
  /* padding-right: 1vw; */
  /* padding-left: 2vw; */
}

/* .cart ul li {
  list-style-type: none;
  display: grid;
  row-gap: 2vw;
  grid-template-columns: repeat(2, minmax(12rem, 50%));
  align-items: baseline;
  margin: 1vw;
  margin-left: 1vw;
  width: 95%;
  padding-right: 1vw;
  padding-left: 2vw;
} */

.total {
  font-family: "Quatl";
  color: var(--attention-color);
  font-size: clamp(1.25rem, 2vw, 1.5vw);
  margin-top: 0.5vw;
  margin-bottom: 1.25vw;
}

/* medium devices*/
@media (max-width: 1400px) {
  .cart {
    right: clamp(10vw, 68%, 40rem);
    top: 6.2vw;
  }
}

@media (max-width: 1240px) {
  .cart {
    right: clamp(8vw, 73%, 25rem);
  }
}

@media (max-width: 1080px) {
  .cart {
    right: clamp(10vw, 75%, 32rem);
    top: 6vw;
  }
}

@media (max-width: 975px) {
  .cart {
    width: 96vw;
    left: clamp(6vw, 5%, 34rem);
    transform: translateX(-92%);
    top: 6vw;
  }
}

@media (max-width: 800px) {
  .cart {
    top: 8vw;
    /* width: 96vw; */
    left: clamp(5vw, 10%, 32rem);
  }
}
