.wholeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid var(--border-color) 2px;
}

.item {
  display: flex;
  font-size: clamp(1.25rem, 2vw, 1.5vw);
  padding-bottom: 1vw;
  width: 1%;
}

.itemName {
  justify-content: left;
}

.price {
  justify-content: right;
  margin-top: 1rem;
}

.size {
  color: var(--user-selected-color);
  margin-right: 1rem;
  justify-items: left;
}

.sizeGroup {
  display: flex;
  justify-self: left;
  margin-left: -2rem;
}

.sizeWarning {
  margin-top: -1rem;
  color: var(--attention-color);
  justify-self: center;
  margin-bottom: 0.25rem;
}

.ownerOrderItem {
  width: 98%;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  font-size: clamp(1.25rem, 1vw, 0.75vw);
  justify-items: center;

  gap: 0rem;
  padding-bottom: 1vw;
}
.ownerOrderItem :nth-child(2) {
  margin-left: 0%;
}

.quantity {
  margin-right: 10%;
}
.ownerOrderItemPrice {
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.actionButtonGroup {
  display: flex;
  gap: 5rem;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
}

.actionButtonGroup button {
  color: var(--interactive-color);
  font-size: clamp(1rem, 1.5vw, 1.25vw);

  cursor: pointer;
}

.itemPrice {
  display: flex;
}

@media (max-width: 1380px) {
  .ownerOrderItem {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: clamp(1.25rem, 1vw, 0.75vw);
    align-items: center;
    justify-self: center;
    justify-items: center;
    gap: 1rem;
    padding-bottom: 1vw;
    width: 80%;
  }

  .size {
    color: var(--user-selected-color);

    margin-left: 1rem;
  }

  .actionButtonGroup1 {
    display: flex;

    margin-right: 50%;
  }
}
