.customerOrders {
  position: fixed;
  margin-top: 10%;
  z-index: 100;
}

.name {
  display: flex;
  margin-bottom: 1rem;
  color: var(--attention-color);
}

.orderSummary {
  padding-top: 3rem;
  width: 90%;
  justify-self: center;
  align-items: first baseline;
}

.customerOrders h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.customerOrders ul {
  max-height: 70vw;
  overflow-y: scroll;
  margin-left: 2vw;
}
.customerOrders li {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  justify-items: center;
  align-items: first baseline;
}

.status {
  display: flex;
  justify-self: right;
}

.close {
  display: flex;
  position: sticky;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
  font-weight: bold;
  justify-self: center;
  font-size: 2rem;
}

@media (max-width: 1380px) {
  .customerOrders li {
    margin-top: 2rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 1vw;
  }
}
