#IGNORE THE FOLLOWING FILES

node_modules
.next
.env
.client.js
.properties
.config




#IGNORE THE FOLLOWING FILES

node_modules

.next

.env

.client.js

application.properties

test-application.properties

.config
 
create-repo-script.sh

update-repo-script.sh

TonsOfTacosV1.2.ctb

*.properties

.ctb

.sh

.xml

**/*.log

.idea/

#front end

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

public

images

/images

# adobe files

concept-art

concept-art/

/concept-art

front-end/concept-art/

/front-end/concept-art/

front-end/concept-art/wire-frames/desktop/site-elements.psd

public/

public

/front-end/concept-art/wire-frames/desktop/desktop-variations.psd

front-end/concept-art/wire-frames/desktop/desktop-variations.psd 

*.psd

*.ai

.idea

/media

media/

