.radioButton {
  display: none;
}

.radioButtonLabel {
  display: flex;
  color: var(--interactive-color);
  border-radius: 25%;
  font-weight: 700;
  font-size: large;
  width: 3rem;
  padding: 0.5rem;
  justify-content: center;
  border: solid;
  border-color: var(--user-selected-color);
  transition: 0.5s ease;
  cursor: pointer;
}

.radioButtonLabel:hover {
  background-color: aquamarine;
  transform: ease;
}

.radioButton:checked + .radioButtonLabel {
  color: var(--user-selected-color);
  border-color: var(--border-color);
  background-color: transparent;
}
