.faq {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 3vw;
  margin-right: 3vw;
  top: 3.535vw;
}

.question {
  font-family: var(--inter-font);
  font-size: x-large;
  margin-bottom: 0.75vw;
  color: var(--user-selected-color);
}

.answer {
  font-size: large;
  margin-bottom: 2vw;
}

.title {
  margin-bottom: 2vw;
}
