.size {
  margin-top: -0.4vw;
}

.size input,
.quantity textarea {
  padding: 0.4vw;
  background-color: transparent;
  color: var(--user-selected-color);
  text-align: center;
  width: 6ch;
  font-size: clamp(1rem, 1rem, 1rem);
}

.valid {
  border: 3px solid var(--border-color);
  border-radius: 15%;
}
.invalid {
  border: 3px solid var(--attention-color);
  border-radius: 15%;
}

.sizeWarning {
  grid-column-start: 3;
  grid-row-start: 2;
  margin-left: 2rem;
  margin-top: 1rem;
  color: var(--attention-color);
}
