.actionConfirmation {
  display: flex;
  position: fixed;
  margin-top: 10%;
  z-index: 100;
}

.messageContents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
  align-items: center;
}
.messageContents h2 {
  font-size: 1vw;
}

.actionConfirmation button {
  font-size: 1.5rem;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 4rem;
}

@media (max-width: 1240px) {
  .messageContents h2 {
    font-size: 1.25vw;
  }
}
@media (max-width: 940px) {
  .messageContents h2 {
    font-size: 1rem;
  }
}
