.form {
  flex-direction: column;
  right: 50%;
  left: 50%;
  gap: 2vw;
  font-size: clamp(1rem, 1.5vw, 1vw);
  justify-content: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 94%;
}

.form label {
  color: var(--interactive-color);
  justify-content: left;
  min-width: max-content;
}

.form input,
.form textarea {
  font-size: clamp(1rem, 1.5vw, 1vw);
  text-align: left;
  background-color: var(--background-color);
  color: var(--user-selected-color);
  padding-left: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  margin-bottom: 1rem;
}

.form input:focus,
.form textarea:focus {
  outline: none;
}

.form p {
  font-size: clamp(1rem, 1.25vw, 1vw);
}

.invalid {
  border: 2px solid var(--attention-color);
  border-radius: 3px;
}

.valid {
  border: 2px solid var(--border-color);
  border-radius: 3px;
}

.checkoutButton {
  margin-bottom: 2vw;
  font-family: "Quatl";
  color: var(--interactive-color);
  font-size: 1.75rem;
  cursor: pointer;
  justify-content: center;
}

.checkoutButton:active {
  color: var(--user-selected-color);
  text-shadow: 0rem 0rem 1rem aquamarine;
  transition: 0.025s ease;
}

.names {
  display: flex;
  gap: 2%;
  margin-bottom: 1rem;
  width: 100%;
}

.first {
  display: flex;
  flex-direction: column;
  min-width: 44%;
}

.firstNameError {
  display: block;
  color: var(--attention-color);
  font-family: var(--inter-font);
  max-width: 100%;
}

.last {
  display: flex;
  flex-direction: column;
  min-width: 44%;
}

.lastNameError {
  display: block;
  color: var(--attention-color);
  font-family: var(--inter-font);
  max-width: 100%;
}

.phone {
  display: flex;
  align-items: first baseline;
  margin-bottom: 1rem;
  max-width: 100%;
}

.phoneColumn {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  width: 100%;
}

.phoneError {
  display: block;
  color: var(--attention-color);
  font-family: var(--inter-font);
  max-width: 100%;
}

.email {
  display: flex;
  align-items: first baseline;
  max-width: 100%;
}

.emailColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2%;
}

.emailError {
  color: var(--attention-color);
  max-width: 100%;
}

@media (max-width: 1160px) {
  .names {
    display: flex;
    flex-direction: column;
  }
  .names label {
    margin-bottom: 1rem;
  }

  .firstNameError {
    margin-bottom: 1rem;
  }

  .phone {
    flex-direction: column;
  }

  .phone label {
    margin-bottom: 1rem;
  }
  .email {
    flex-direction: column;
  }

  .email label {
    margin-bottom: 1rem;
  }
}

@media (max-width: 695px) {
  .phoneColumn {
    min-width: clamp(84%, 30vw, 88%);
  }
  .emailColumn {
    min-width: clamp(84%, 30vw, 88%);
  }
  .first {
    min-width: clamp(30%, 30vw, 88%);
  }
  .last {
    min-width: clamp(30%, 30vw, 88%);
  }
}

@media (max-width: 450px) {
  .form input,
  .form textarea {
    font-size: clamp(1.15rem, 2vw, 1.5vw);
  }
}
