.ownerLogin {
  position: static;
  position: fixed;
  display: flex;
  gap: 2vw;
  left: 40vw;
  align-items: baseline;
}

.ownerLogin input,
.ownerLogin textarea {
  font-size: clamp(1.25rem, 2vw, 1.5vw);
  text-align: left;
  background-color: var(--background-color);
  color: var(--user-selected-color);
  padding-left: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  margin-bottom: 1rem;
}

.ownerLogin input:focus,
.ownerLogin textarea:focus {
  outline: none;
}

.valid {
  border: 2px solid var(--border-color);
  border-radius: 3px;
}
.invalid {
  border: 2px solid var(--attention-color);
  border-radius: 3px;
}

@media (max-width: 1400px) {
  .ownerLogin {
    position: absolute;
    flex-direction: column;
    left: 0;
    right: 0;
    margin: auto;
    top: 160%;
    align-items: center;
    background-color: rgba(12, 4, 36, 0.7);
    border: solid 2px var(--border-color);
    height: 65vh;
    padding: 2rem;
  }

  .ownerLogin input,
  .ownerLogin textarea {
    font-size: 3vw;
  }
}

@media (max-width: 800px) {
  .ownerLogin {
    left: 0;
    right: 0;
    margin: auto;
  }

  .ownerLogin input,
  .ownerLogin textarea {
    font-size: 5vw;
  }
}
