.orderView {
  position: fixed;
  margin-top: 10%;
  z-index: 100;
}

.orderDetails {
  display: flex;
  flex-direction: column;
  justify-items: right;
  padding: 1rem;
}

.uneditableDetails {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
  align-items: first baseline;
  row-gap: 1rem;
  border-radius: 0.5rem;
}

.uneditableDetails p:nth-child(even) {
  grid-column-start: 2;
  justify-self: center;
}

.uneditableDetails p:nth-child(odd) {
  grid-column-start: 1;
  color: var(--user-selected-color);
}

.editableDetails {
  display: grid;
  padding: 0rem 1rem 1rem;
  grid-template-columns: repeat(3, 1fr);
  align-items: first baseline;
  row-gap: 1rem;
  border-radius: 0.5rem;
}

.editableDetails p:nth-child(3n + 1) {
  color: var(--user-selected-color);
}
.editableDetails p:nth-child(2n + 2) {
  justify-self: center;
}

.editableDetails button {
  grid-column-start: 3;
  font-size: 1rem;
  cursor: pointer;
  justify-self: right;
}

.editableDetails input {
  margin-top: 1rem;
  width: 20ch;
}

.editableDetails input,
.editableDetails textarea {
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  margin-bottom: 1rem;
  text-align: center;
  background-color: var(--background-color);
  color: var(--user-selected-color);
  margin-bottom: 1rem;
}

.editableDetails input:focus,
.editableDetails textarea:focus {
  outline: none;
}

.error {
  color: var(--attention-color);
  font-family: var(--inter-font);
  padding: 0rem;
}

.orderItems {
  display: flex;
  flex-direction: column;
}

.orderItems ul {
  width: 99%;
  justify-content: center;
  height: 300px;
  overflow-y: scroll;
  padding-bottom: 1rem;
}

.orderItems ul li {
  display: grid;
  grid-template-columns: repeat(6, 16.66%);
  padding: 1rem;
  justify-items: center;
  align-items: center;
}
.orderItems ul li p:first-child {
  justify-self: left;
}

.itemTitles {
  display: grid;
  grid-template-columns: repeat(6, 16.66%);
  padding: 1rem;
  width: 100%;
  justify-items: center;
}

.itemTitles p {
  color: var(--attention-color);
  font-weight: bolder;
  min-width: max-content;
}

.itemTitles p:nth-child(1) {
  justify-self: left;
}

.itemTitles p:nth-child(n + 2) {
  margin-right: 25%;
}

.button {
  display: flex;
  position: relative;
  font-size: 2rem;
  justify-content: center;
  margin-bottom: 10%;
  cursor: pointer;
}

.invalid {
  border: 2px solid var(--attention-color);
  border-radius: 3px;
}

.valid {
  border: 2px solid var(--border-color);
  border-radius: 3px;
}
