.orderView {
  position: fixed;
  margin-top: 10%;
  z-index: 100;
}

.orderDetails {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: left;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  border-radius: 0.5rem;
}

.orderDetails p {
  margin-left: 15%;
}

.orderDetails p:nth-child(even) {
  grid-column-start: 2;
}
.orderDetails p:nth-child(odd) {
  color: var(--user-selected-color);
}

.orderItems {
  display: flex;
  flex-direction: column;
}

.orderItems ul {
  width: 99%;
  justify-content: center;
  height: 300px;
  overflow-y: scroll;
  padding-bottom: 1rem;
}

.orderItems ul li {
  display: grid;
  grid-template-columns: repeat(6, 16.66%);
  padding: 1rem;
  justify-items: center;
  align-items: center;
}
.orderItems ul li p:first-child {
  justify-self: left;
}

.itemTitles {
  display: grid;
  grid-template-columns: repeat(6, 16.66%);
  padding: 1rem;
  width: 100%;
  justify-items: center;
}

.itemTitles p {
  color: var(--attention-color);
  font-weight: bolder;
  min-width: max-content;
}

.itemTitles p:nth-child(1) {
  justify-self: left;
}

.button {
  display: flex;
  font-size: 2rem;
  justify-self: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
