.footerIcon {
  height: 2vw;
  color: var(--interactive-color);
  transition: 1s ease;
  cursor: pointer;
}

.footerIcon:hover {
  color: var(--attention-color);
  transition: 0.3s ease;
}

/* medium devices */
@media (max-width: 1400px) {
  .footerIcon {
    height: 4vw;
  }
}

/* small devices */
@media (max-width: 800px) {
  .footerIcon {
    height: 8vw;
  }
}
