.logout {
  font-size: clamp(1.25rem, 2vw, 1.5vw);
  margin-left: 2vw;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .logout {
    font-size: 3vw;
  }
}

@media (max-width: 800px) {
  .logout {
    font-size: 4vw;
  }
}
