@font-face {
  font-family: "Quatl";
  src: url("../components/ui/fonts/Quatl-3zp26.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  font-family: "Quatl";
  letter-spacing: 0.5px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  --background-color: #0c0424;
  --interactive-color: #cf3052;
  --attention-color: #ebc83b;
  --paragraph-color: #c7ebec;
  --border-color: #63b369;
  --user-selected-color: aqua;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 10rem;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 8rem;
  background-color: var(--background-color);
  border-top: solid var(--border-color) 2px;
  width: 96%;
  padding: 1vw;
  padding-bottom: 3vw;
  margin-left: auto;
  margin-right: auto;
  left: 0rem;
  right: 0rem;
}

a {
  text-decoration: none;
  justify-self: center;
  color: var(--interactive-color);
}

p {
  font-family: var(--inter-font);
  color: var(--paragraph-color);
  white-space: pre-line;
}

h1 {
  display: flex;
  color: var(--attention-color);
  font-size: clamp(1rem, 2vw, 2vw);
}

h2 {
  color: var(--attention-color);
  font-size: clamp(1rem, 1.5vw, 1.5vw);
}

h3 {
  color: var(--attention-color);
  font-size: 1rem;
}

button {
  color: var(--interactive-color);
  background-color: transparent;
  border: none;
  transition: 1s ease;
  cursor: pointer;
}

button:hover {
  color: var(--attention-color);
  transition: 0.3s ease;
}

.children {
  display: flexbox;
  z-index: 0;
  padding: 2rem;
  padding-top: 6vw;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--interactive-color);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

input {
  background-color: none;
  border: none;
}

input textarea {
  background-color: none;
  border-color: none;
  border: none;
}

textarea:focus,
input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

label {
  font-family: var(--inter-font);
}
