.image {
  position: fixed;
  width: clamp(15rem, 30%, 50%);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  top: clamp(5rem, 15%, 15rem);
  left: 0rem;
  right: 0rem;
  align-content: center;
}

.page {
  align-items: center;
  justify-content: center;
}

.error {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  padding: 2rem;
}

.error p {
  margin-top: 2rem;
  font-size: clamp(1rem, 2vw, 2vw);
}

.errorContact {
  color: var(--interactive-color);
  font-size: clamp(1rem, 2vw, 2vw);
}
