.footerGrid {
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(4, 1fr);
  font-size: larger;
  justify-items: center;
  background-color: var(--background-color);
}

.contact {
  display: flex;
  flex-direction: column;
}

.footerGrid p {
  color: var(--interactive-color);
  font-family: var(--inter-font);
}

.footerGrid a {
  font-family: var(--inter-font);
  color: var(--interactive-color);
  transition: 1s ease;
}

.footerGrid a:hover {
  color: var(--attention-color);
  transition: 0.3s ease;
}

@media (max-width: 840px) {
  .footerGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-top: 2vw;
    padding-bottom: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerGrid p {
    /* justify-items: center; */
    display: flex;
    flex-direction: column;
  }

  .contact {
    align-items: center;
  }
}
