.menuCard {
  border-color: transparent;
  background: linear-gradient(
      to bottom,
      var(--border-color) 0%,
      var(--background-color) 30%,
      var(--background-color) 80%,
      var(--border-color) 100%
    )
    100%;
  border-radius: 10px;
  border-style: solid;
  padding: 0.1rem;
  max-height: fit-content;
}

.menuCard:hover {
  box-shadow: 0px 0px 50px 10px rgba(99, 179, 105, 1);
  transition: 0.3s ease;
}

.background {
  background-color: var(--background-color);
  border-radius: 15px;
  width: 99%;
  max-height: 100%;
  justify-self: center;
  overflow-y: scroll;
}

.expand {
  position: fixed;
  margin-top: -12%;
  align-self: baseline;
  z-index: 100;
  width: clamp(22rem, 100%, 34%);
  height: 50rem;
  margin-right: auto;
  margin-left: auto;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 100px 40px var(--attention-color);
}

.expand:hover {
  box-shadow: 0px 0px 100px 40px var(--attention-color);
}

.expand::backdrop {
  box-shadow: 0px 0px 100px 40px var(--attention-color);
}

@media (max-width: 1400px) {
  .background {
    height: 100%;
  }
  .expand {
    margin-top: -15%;
  }

  .menuCard {
    max-height: 100%;
  }
}

@media (max-height: 900px) {
  .expand {
    margin-top: -6rem;
  }
  .background {
    height: 120%;
  }
}

@media (max-width: 400px) {
  .expand {
    margin-top: -6rem;
  }
}
