.addItemToOrder {
  display: flex;
  flex-direction: column;

  padding-bottom: 0.5rem;
  border-bottom: solid var(--border-color);
}

.addItemToOrder h3 {
  font-family: var(--inter-font);
}

.addItemToOrder ul {
  margin: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}
.addItemToOrder ul h3:nth-child(2) {
  margin-left: 1.5rem;
}

.addItemToOrder ul h3:nth-child(3) {
  margin-left: 2.5rem;
}

.addItemToOrder input {
  width: 8ch;
}
.addItemToOrder input:focus {
  border-color: none;
}

.decrement {
  rotate: 90deg;
}

.increment {
  rotate: -90deg;
}

.addItemToOrder input,
.addItemToOrder textarea {
  padding: 0.25vw;
  background-color: transparent;
  color: var(--user-selected-color);
  text-align: center;
}

.size {
  margin-left: 1rem;
}

.size input,
.quantity textarea {
  color: var(--user-selected-color);
}

.valid {
  border: 3px solid var(--border-color);
  border-radius: 3px;
}
.invalid {
  border: 3px solid var(--attention-color);
  border-radius: 3px;
}

.sizeWarning {
  grid-column-start: 3;
  grid-row-start: 2;
  margin-left: 2rem;
  margin-top: 0.5rem;
  color: var(--attention-color);
}

.total {
  grid-column-start: 4;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 0.5rem;
}

.quantity input,
.quantity textarea {
  border: 3px solid var(--border-color);
  border-radius: 3px;
}

.addItemToOrder button {
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.addItemButton {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
