.completeDash {
  /* display: contents; */
}

.dashboard {
  margin-top: 2%;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow-y: scroll;
}

.ordersDash {
  display: flex;
}

.viewUpdateDelete {
  gap: 1rem;
}

.dashboard ul {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  width: 98%;
  max-height: 25rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dashboard li {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(10, 11rem);
  justify-items: center;
  align-items: first baseline;
  border-bottom: solid;
  border-width: 0.15rem;
  border-color: var(--border-color);
}
.dashboard button {
  font-size: 1rem;
}

.dashboard li div {
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  align-items: center;
}

.dashboard li input {
  width: 20ch;
}
.dashboard li input,
.dashboard li textarea {
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  margin-bottom: 1rem;
  text-align: left;
  background-color: var(--background-color);
  color: var(--user-selected-color);
  margin-bottom: 1rem;
}

.dashboard li input:focus,
.dashboard li textarea:focus {
  outline: none;
}

.invalid {
  border: 2px solid var(--attention-color);
  border-radius: 3px;
}

.valid {
  border: 2px solid var(--border-color);
  border-radius: 3px;
}

.error {
  color: var(--attention-color);
  font-family: var(--inter-font);
  justify-content: left;
  padding: 0rem;
}

.dashboard li p {
  justify-content: center;
  margin-bottom: 1rem;
}

.displayCategories {
  position: fixed;
  justify-items: center;
  align-content: center;
  margin-top: -1.5%;
  padding: 1.5rem;
  width: 96.5%;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
}

.displayCategories p {
  color: var(--attention-color);
  font-weight: bolder;
  min-width: max-content;
  justify-content: center;
}

.addItemToOrder {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 20%);
  padding: 1rem;
  justify-self: center;
  justify-items: center;
  align-items: center;
}

.closed {
  display: flex;
  /* justify-self: right; */
  margin-right: -2rem;
}

.closed p {
  color: #499801;
}

.ready p {
  color: #c25714;
}

.sales {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 98.7%;
  padding-top: 2rem;
  margin-top: 2rem;
}

.sortButtons {
  font-size: 1rem;
  cursor: pointer;
  margin-right: 4rem;
}

.buttonGroup {
  display: flex;
}

@media (max-width: 1918px) {
  .displayCategories {
    position: sticky;
    justify-items: left;
    padding: 0;
    /* align-content: left; */
    margin-top: 0.5%;
    /* padding: 1.5rem; */
    height: max-content;
    width: max-content;
    /* background-color: var(--background-color); */
    /* display: grid; */
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  /* .displayCategories {
    position: fixed;
    justify-items: center;
    align-content: center;
    margin-top: -1.5%;
    padding: 1.5rem;
    width: 96.5%;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  } */
  .sortButtons {
    /* font-size: 1rem; */
    /* cursor: pointer; */
    display: flex;
    justify-items: start;
    margin-right: 0rem;
    /* gap: -1.5rem; */
  }

  .dashboard ul {
    margin-top: -1%;
    display: flex;
    flex-direction: row;
    width: 94%;
    max-height: max-content;
    overflow-y: hidden;
    overflow-x: scroll;
    /* height: 230%; */
  }

  .dashboard li {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 11rem);
    justify-items: center;
    align-items: first baseline;
    padding-left: 4rem;
    padding-right: 4rem;
    /* border-left: solid; */
    border-right: solid;
    border-bottom: none;
    border-width: 0.15rem;
    border-color: var(--border-color);
    row-gap: 0.5rem;
    height: 100%;
  }
  .buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .dashboard li div {
    /* display: flex; */
    flex-direction: row;
    /* justify-items: center; */
    align-items: baseline;
    gap: 1rem;
  }
}

@media (max-width: 1400px) {
  .dashboard {
    margin-top: 0%;
  }
}
