.completeDash {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  width: 100%;
}

.dashboard {
  display: flex;
  height: 100%;
  overflow-x: scroll;
  width: 100%;
}

.viewUpdateDelete {
  gap: 1rem;
}

.dashboard ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 25rem;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dashboard li {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(10, 11rem);
  justify-items: center;
  align-items: first baseline;
  border-bottom: solid;
  border-width: 0.15rem;
  border-color: var(--border-color);
  width: 100%;
}
.dashboard button {
  font-size: 1rem;
}

.dashboard li div {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.dashboard li input {
  width: 20ch;
}
.dashboard li input,
.dashboard li textarea {
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  margin-bottom: 1rem;
  text-align: left;
  background-color: var(--background-color);
  color: var(--user-selected-color);
  margin-bottom: 1rem;
}

.dashboard li input:focus,
.dashboard li textarea:focus {
  outline: none;
}

.invalid {
  border: 2px solid var(--attention-color);
  border-radius: 3px;
}

.valid {
  border: 2px solid var(--border-color);
  border-radius: 3px;
}

.error {
  color: var(--attention-color);
  font-family: var(--inter-font);
  justify-content: left;
  padding: 0rem;
}

.dashboard li p {
  justify-content: center;
  margin-bottom: 1rem;
}
.sortButtons {
  font-size: 1rem;
  cursor: pointer;
  margin-right: 4rem;
}
.ordersDash {
  display: flex;
  margin-left: 4rem;
  gap: 2rem;
  align-items: first baseline;
  width: 100%;
}

.buttonGroup {
  display: grid;
  grid-template-columns: repeat(3, 11rem);
}

.displayCategories {
  max-height: 30rem;
  margin-left: 2rem;
  justify-content: center;
  margin-top: -2%;
  padding: 1.5rem;
  width: 66.6%;
  display: grid;
  grid-template-columns: repeat(7, 3.5fr);
  gap: 4rem;
}

.displayCategories p {
  color: var(--attention-color);
  font-weight: bolder;
  min-width: max-content;
  justify-content: center;
}

.addItemToOrder {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 20%);
  padding: 1rem;
  justify-self: center;
  justify-items: center;
  align-items: center;
}

.closed {
  display: flex;
  margin-right: -2rem;
}

.closed p {
  color: #499801;
}

.ready p {
  color: #c25714;
}

.sales {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 98.7%;
  padding-top: 1rem;
  margin-left: 1rem;
  /* margin-top: 1rem; */
}
.sales h1 {
  margin-top: 1vw;
  font-size: 2vw;
}

@media (max-width: 1900px) {
  .completeDash {
    flex-direction: row;
  }
  .ordersDash {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    width: max-content;
  }
  .displayCategories {
    justify-items: left;
    padding: 0;
    height: max-content;
    width: max-content;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  .sortButtons {
    display: flex;
    justify-items: start;
    margin-right: 0rem;
  }

  .dashboard ul {
    margin-top: -1%;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: max-content;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .dashboard li {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 11rem);
    justify-items: center;
    align-items: first baseline;
    padding-left: 4rem;
    padding-right: 4rem;

    border-right: solid;
    border-bottom: none;
    border-width: 0.15rem;
    border-color: var(--border-color);
    row-gap: 0.5rem;
    height: 100%;
    width: 100%;
  }
  .buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .dashboard li div {
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
  }
}

@media (max-width: 1280px) {
  .sales h1 {
    font-size: 3vw;
  }
}
@media (max-width: 640px) {
  .sales h1 {
    font-size: 5vw;
  }
}
