/* .size { */
/* margin-right: 5rem; */
/* margin-left: -4rem; */
/* } */

.size input,
.quantity textarea {
  padding: 0.25vw;
  background-color: transparent;
  color: var(--user-selected-color);
  text-align: center;
  width: 6ch;
}

.valid {
  border: 3px solid var(--border-color);
  border-radius: 3px;
}
.invalid {
  border: 3px solid var(--attention-color);
  border-radius: 3px;
}

.sizeWarning {
  grid-column-start: 3;
  grid-row-start: 2;
  margin-left: 2rem;
  margin-top: 0.5rem;
  color: var(--attention-color);
}

@media (max-width: 1380px) {
  .size {
    margin-right: 1rem;
  }
}
