.actionBar {
  margin-top: 1%;
  display: flex;
  margin-bottom: 1%;
}

.ownerCreate {
  align-self: first baseline;
  margin-left: 3rem;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.25rem;
  padding-left: 1vw;
  border-left: solid 2px var(--border-color);
}

@media (max-width: 1400px) {
  .actionBar {
    margin-top: 10%;
  }
}
@media (max-width: 1280px) {
  .actionBar {
    flex-direction: column;
    margin-top: 12%;
  }
  .ownerCreate {
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 5vw;
    padding-left: 0vw;
    border-left: none;
  }
}

@media (max-width: 800px) {
  .actionBar {
    margin-top: 18vw;
    margin-bottom: 5vw;
  }
}
