.search {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.search label {
  color: var(--interactive-color);
  font-family: var(--inter-font);
  font-weight: bold;
  margin-left: 2rem;
}

.invalid {
  border: 2px solid var(--attention-color);
  border-radius: 3px;
}

.valid {
  border: 2px solid var(--border-color);
  border-radius: 3px;
}

.search input {
  width: 28ch;
}

.search input,
.search textarea {
  font-size: 1rem;
  padding-top: 0.1vw;
  padding-bottom: 0.1vw;
  text-align: center;
  background-color: var(--background-color);
  color: var(--user-selected-color);
}

.search input:focus,
.search textarea:focus {
  outline: none;
}

.searchError {
  color: var(--attention-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-self: center;
}

.searchButton {
  display: flex;
  color: var(--interactive-color);
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .search {
    flex-direction: column;
  }
}
