.orderView {
  position: fixed;
  margin-top: 10%;
  z-index: 100;
  min-width: max-content;
}

.heightControl {
  overflow-y: scroll;
}

.orderDetails {
  display: flex;
  flex-direction: column;

  padding-left: 1rem;
  padding-top: 1rem;
  max-height: 20rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 1rem;
  border-bottom: solid var(--border-color);
  margin-bottom: 0.5rem;
}

.uneditableDetails {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: first baseline;
  row-gap: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

.uneditableDetails p:nth-child(even) {
  grid-column-start: 2;
  justify-self: center;
}

.uneditableDetails p:nth-child(odd) {
  grid-column-start: 1;
  color: var(--user-selected-color);
  width: max-content;
}

.orderItemView {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: 10vw;
  overflow-y: scroll;
}

.orderItems {
  min-width: 100%;
}

.orderItems button {
  cursor: pointer;
}

.orderItems ul {
  justify-content: center;
  padding-bottom: 1rem;
  row-gap: 1rem;
  width: 100%;
}

.orderItems ul li {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1rem;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.orderItems ul li p:first-child {
  justify-self: left;
  margin-left: 1rem;
}
.orderItems ul li p:nth-child(3) {
  color: var(--user-selected-color);
}
.orderItems ul li p:nth-child(5) {
  margin-left: 3rem;
}

.itemTitles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  justify-items: center;
  margin-top: 1rem;
}

.itemTitles p {
  color: var(--attention-color);
  font-weight: bolder;
  min-width: max-content;
}

.itemTitles p:nth-child(1) {
  justify-self: left;
  margin-left: 1rem;
}

.itemTitles p:nth-child(n + 2) {
  margin-right: 25%;
}

.button {
  display: flex;
  position: relative;
  font-size: 2rem;
  justify-content: center;
  margin-top: 3rem;
  cursor: pointer;
  width: 100%;
}

.warning {
  color: var(--attention-color);
}

.close {
  display: flex;
  font-size: 2rem;
  cursor: pointer;
  font-weight: bold;
  justify-self: center;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

.editWarning {
  display: flex;
  justify-self: center;
  margin-top: 2rem;
  margin-left: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 1560px) {
  .contactUpdate {
    margin-top: -0.75vw;
  }
  .orderItemView {
    flex-direction: row;
    display: flex;
    margin-bottom: 1rem;
    height: 20vw;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
  }
  .orientation {
    display: flex;
    flex-direction: row;
  }

  .itemTitles {
    display: flex;
    flex-direction: column;
    margin-top: -0.25vw;
    height: 20vw;
    width: min-content;
  }

  .itemTitles p {
    margin-top: 2.25vw;
    align-items: first baseline;
  }

  .itemTitles p:nth-child(1) {
    margin-left: 0rem;
  }

  .orderItems ul {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 1rem;
    row-gap: 1rem;
    justify-content: left;
    margin-left: 1rem;
    width: max-content;
  }

  .orderItems ul li {
    display: grid;

    grid-template-columns: repeat(1, 100%);

    padding-left: 1rem;
    padding-right: 1rem;

    align-items: center;

    row-gap: 2rem;
    min-width: 100%;
  }

  .orderItems ul li p:first-child {
    justify-self: center;
    margin-left: 0rem;
  }
  .editWarning {
    font-size: 0.75rem;
    margin-top: 0.5rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 1465px) {
  .uneditableDetails p:nth-child(4) {
    margin-left: 2.5vw;
  }
}

@media (max-width: 1280px) {
  .itemTitles p {
    margin-top: 2.75vw;
  }
}

@media (max-width: 1180px) {
  .orderItemView {
    height: 22vw;
  }
}

@media (max-width: 1080px) {
  .itemTitles {
    margin-top: 0.25vw;
  }

  .itemTitles p {
    margin-top: 3vw;
  }

  .orderItemView {
    height: 25vw;
  }
}
@media (max-width: 970px) {
  .uneditableDetails p:nth-child(4) {
    margin-left: 2.75vw;
  }

  .itemTitles {
    margin-top: 0.25vw;
  }

  .itemTitles p {
    margin-top: 3.6vw;
  }

  .orderItemView {
    height: 33vw;
  }

  .orderItems ul li {
    margin-top: -0.25vw;
    row-gap: 3.6vw;
  }
}

@media (max-width: 640px) {
  .itemTitles p {
    margin-top: 3.75vw;
  }

  .orderItemView {
    height: 40vw;
  }
  .orderItems ul {
    row-gap: 0.5vw;
    justify-content: left;
    margin-left: 1rem;
    margin-top: -0.5vw;
  }

  .orderItems ul li {
    margin-top: -1.4vw;
    row-gap: 3.8vw;
  }
}
