.checkout_button {
  display: flex;
  font-family: "Quatl";
  color: var(--interactive-color);
  font-size: 1.75rem;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-self: center;
}

.checkout_button:active {
  color: var(--user-selected-color);
  text-shadow: 0rem 0rem 1rem aquamarine;
  transition: 0.025s ease;
}

@media (max-width: 900px) {
  .checkout_button {
    margin-top: 2rem;
  }
}
