.ownerOrderCreator {
  position: fixed;
  margin-top: 10%;
  z-index: 100;
  justify-content: center;
  /* width: 1rem; */
}

.elements {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  max-height: 48rem;
  margin-top: 1rem;
  /* overflow-y: scroll; */
  /* margin-bottom: 2rem; */
  /* padding-bottom: 2rem; */
}

.close {
  font-size: 2rem;
  justify-self: center;
  font-family: "Quatl";
  color: var(--interactive-color);
  font-size: 1.75rem;
  margin-top: -1rem;
  cursor: pointer;
  padding-bottom: 2rem;
}

.total {
  font-size: 1.5rem;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 1rem;
}

.itemsHeader {
  margin-top: 1rem;
}

@media (max-width: 1380px) {
}
