.ownerOrderCreator {
  position: fixed;
  margin-top: 10%;
  z-index: 100;
  justify-content: center;
}

.ownerOrderCreator ul {
  height: 12rem;
  overflow-y: scroll;
}

.items {
  min-height: 16rem;
}

.elements {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  max-height: 48rem;
  margin-top: 1rem;
  overflow-x: hidden;
}

.close {
  font-size: 2rem;
  align-self: center;
  font-family: "Quatl";
  color: var(--interactive-color);
  font-size: 1.75rem;
  margin-top: -1rem;
  cursor: pointer;
  padding-bottom: 2rem;
  width: fit-content;
}

.total {
  font-size: 1.5rem;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 0.25vw;
}

.itemsHeader {
  margin-top: 1vw;
}

@media (max-width: 1380px) {
  .ownerOrderCreator ul {
    height: 12rem;
    overflow-y: scroll;
  }
}
