.menuItemSelector {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: 8rem;
  margin-bottom: 2rem;
  border-bottom: solid var(--border-color);
  justify-content: center;
}

.categories {
  position: relative;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  width: 90%;
}

.categories h3:not(:first-child) {
  margin-left: 0.5rem;
}

.itemsContainer {
  display: flex;
  height: 5rem;
}
.items {
  padding-top: 0.5rem;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.25rem;
}

.items ul {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
}

.menuItemSelector button {
  display: inline-block;
  text-align: left;
  font-size: 1rem;
  padding-top: 0.5rem;
  cursor: pointer;
}
.menuItemSelector h3 {
  font-family: var(--inter-font);
}
