.menuItemSelector {
  display: flex;
  flex-direction: column;
  padding: 0.5vw;
  height: 8rem;
  margin-bottom: 0.15vw;
  /* margin-bottom: 2rem; */
  /* border-bottom: solid var(--border-color); */
  justify-content: center;
  max-width: 100%;
  ::-webkit-scrollbar {
    width: 0.25rem;
  }
}

.categories {
  position: relative;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  width: 100%;
}

.categories h3:not(:first-child) {
  margin-left: 0.5rem;
}

.categories h3:nth-child(2) {
  margin-left: 0rem;
}

.itemsContainer {
  display: flex;
  height: 20vw;
}
.items {
  padding-top: 0.5rem;
  overflow-y: scroll;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.25rem;
  height: 20rem;
  justify-content: center;
}

.items ul {
  display: flex;
  /* padding-right: 2rem; */
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  overflow-x: hidden;
  justify-items: center;
  /* height: 20vw; */
}

.menuItemSelector button {
  display: inline-block;
  text-align: left;
  font-size: 1.05vw;
  padding-top: 0.5rem;
  cursor: pointer;
  padding-right: 0.05vw;
}
.menuItemSelector h3 {
  font-family: var(--inter-font);
}

@media (max-width: 1180px) {
  .categories h3:nth-child(2) {
    margin-left: -1.2vw;
  }
  .menuItemSelector button {
    font-size: 1.5vw;
  }
}
@media (max-width: 980px) {
  .categories h3:nth-child(2) {
    margin-left: -1.5vw;
  }
  .menuItemSelector button {
    font-size: 1.5vw;
  }
}

@media (max-width: 800px) {
  .categories h3:nth-child(2) {
    margin-left: -1.9vw;
  }
  .menuItemSelector button {
    font-size: 1.75vw;
  }
  .menuItemSelector {
    padding: 0vw;
    /* margin-bottom: -2rem; */
  }
}
@media (max-width: 750px) {
  .menuItemSelector button {
    font-size: 2vw;
  }
}

@media (max-width: 620px) {
  .categories h3:nth-child(2) {
    margin-left: 0.25vw;
  }
  .menuItemSelector button {
    font-size: 2.5vw;
  }
}
